{%extends "base.html"%}

{% block main%}


<div class="tabs">
    <div class="tab-2">
        <label for="tab2-1">Top Sentences</label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
        <div class="card-content">
            <div id="carouselTopControls" class="carousel slide" data-ride="carousel" data-interval=false>
                <a class="carousel-control-prev" href="#carouselTopControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon filter" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <div class="carousel-inner">
                    {% for top_sentence in top_sentences%}
                    <div class="carousel-item {{'active' if loop.index0 == 0 else ''}}">
                        <div class="carousel-content">
                            <div>
                                <p id="user_id" style="display: none;">{{top_sentence[0]}}</p>
                                <p id="sentence_id" style="display: none;">{{top_sentence[3]}}</p>
                                <p id="user-sentence">{{top_sentence[1]}}</p>
                                <p id="author">by {{top_sentence[4]}}</p>
                            </div>
                            <div id="card-buttons">
                                {% if user %}
                                <form class="like_form_{{top_sentence[3]}}" id="like_form" method="POST"
                                    action="like_button_action">
                                    <input hidden name="user_id" value="{{top_sentence[0]}}">
                                    <input hidden name="sentence_id" value="{{top_sentence[3]}}">
                                    <input hidden name="sentence_likes" value="{{top_sentence[2]}}">
                                    <button type="submit" class="card-button">{{top_sentence[2]}}
                                        <i class="fa-regular fa-thumbs-up"></i>
                                    </button>
                                </form>
                                <form class="unlike_form_{{top_sentence[3]}}" id="unlike_form" method="POST"
                                    action="unlike_button_action">
                                    <input hidden name="user_id" value="{{top_sentence[0]}}">
                                    <input hidden name="sentence_id" value="{{top_sentence[3]}}">
                                    <input hidden name="sentence_likes" value="{{top_sentence[2]}}">
                                    <button type="submit" class="card-button">{{top_sentence[2]}}
                                        <i class="fa-solid fa-thumbs-up"></i>
                                    </button>
                                </form>
                                {% endif %}
                                <button class="card-button"><i class="fa-solid fa-share"></i></button>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <a class="carousel-control-next" href="#carouselTopControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon filter" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-2">
        <label for="tab2-2">Random Sentences</label>
        <input id="tab2-2" name="tabs-two" type="radio">
        <div class="card-content">
            <div id="carouselRandomControls" class="carousel slide" data-ride="carousel" data-interval="5000">
                <a class="carousel-control-prev" href="#carouselRandomControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon filter" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <div class="carousel-inner">
                    {% for random_sentence in random_sentences%}
                    <div class="carousel-item {{'active' if loop.index0 == 0 else ''}}">
                        <div class="carousel-content">
                            <div>
                                <p id="user_id" style="display: none;">{{random_sentence[0]}}</p>
                                <p id="sentence_id" style="display: none;">{{random_sentence[3]}}</p>
                                <p id="user-sentence">{{random_sentence[1]}}</p>
                                <p id="author">by {{random_sentence[4]}}</p>
                            </div>
                            <div id="card-buttons">
                                {% if user %}
                                <button class="card-button">{{random_sentence[2]}} <i
                                        class="fa-solid fa-thumbs-up"></i></button>
                                {% endif %}
                                <button class="card-button"><i class="fa-solid fa-share"></i></button>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <a class="carousel-control-next" href="#carouselRandomControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon filter" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


{%endblock%}