{%extends "base.html"%}

{% block main%}
<div id="card-top">
    <h1>Profile</h1>
</div>
<div id="card-middle">
    {% if returned_sentences %}
    {%for returned_data in returned_sentences%}
    <div class="profile_content" data-id="{{returned_data[0]}}">
        <button onclick="deleteButton(event, {{returned_data[0]}})" id="delete_button" type="button"><i
                class="fa-solid fa-circle-minus fa-2x"></i></button>
        <div id="profile_data">
            <p><span>Sentence: </span>{{returned_data[2]}}</p>
            <p><span>Likes: </span>{{returned_data[3]}}</p>
        </div>
    </div>
    {%endfor%}
    {%else%}
    <div id="profile_content">
        <p>No content to show :(</p>
    </div>
    {%endif%}
</div>
<div id="card-bottom"></div>
{%endblock%}